* {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
:root {
    --background: #272b30;
    --white: rgba(255, 255, 255, .55);
    --blue: #4799eb;
    --inputback: #1c1e22
}
body {
    width: 100vw;
    overflow-x: hidden;
}
/* Start of SignUp */
.SignUpMainDivEver {
    min-height: 100vh ;
    padding-top: 20vh;
    background-color: var(--background);
    width: 100vw;
    overflow-x: hidden;
}
.SignUpMainDataDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    gap: 30px;
    /* width: fit-content; */
    padding: 0px 45px 0px 15px;
    border: 1px solid transparent;
    box-shadow: 0px 3px  rgba(255, 255, 255, 0.184);
    background-color: #32383e;

}

.FormManDiv  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* padding: 50px 0; */
}
.FormManDiv h3  {
    color: var(--white);
    text-align: center;

}
/* .FormManDiv div  {
    width: 600px;
} */
.FormManDiv input  {
    width: 100%;
}
.FirstTwoInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    
}
.FormManDiv input  {
    background-color: var(--inputback);
    box-shadow: none;
    border: none;
    height: 0px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px ;
    color: var(--white);
}
.FormManDiv input:focus  {
    box-shadow: none;
    border: none;
    outline: none;
}
.FormManDiv button  {
    width: 100%;
    color: white !important;
    background-color: #272b30;
    padding: 8px;
    outline: none;
    border: none;

}
.mainIMageDivSign {
    display: block;
}
.FormManDiv a  {
    
    color: #656565;


}
.FormManDiv a:hover  {
    color: #656565;


}
.FormManDiv h4  {
    color: #656565;
    font-size: 12px;


}
.HrClass {
    border: 0.1px solid white;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
.SignINMainDataDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto 100px;
    gap: 30px;
    
    padding: 0px 45px 0px 15px;
    border: 1px solid transparent;
    box-shadow: 0px 3px  rgba(255, 255, 255, 0.184);
    background-color: #32383e;

}
.LinksInSignIn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.LinksInSignIn a {
    text-decoration: none;
    color: var(--blue);
    

}
.LinksInSignIn a:hover {
    color: var(--blue);

}
.FormManDivSignIn input {
    background-color: white;
    height: 40px !important;
    color: var(--background) !important;
}
.FirstTwoInputs div {
    flex-direction: column;
    width: 50%;
}
.inputanderror {
    display: flex !important;
    flex-direction: column !important;
}
.alertMainH {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
}
.inputanderror h4 {
    padding: 5px;
    opacity: 0.7;
}
@media screen and (min-width: 1px) and (max-width: 991.5px) {
    .mainIMageDivSign {
        display: none;
    }
    .SignUpMainDataDiv {
        padding: 50px 0px 40px 0px;
        margin: auto   ;

    }
    .SignINMainDataDiv {
        padding: 15px 15px 15px 15px;
        margin: auto 10px;

    }
}

@media screen and (min-width: 1px) and (max-width: 771px) {
    .FirstTwoInputs {
        flex-wrap: wrap;
        
    }
    .FirstTwoInputs div {
        width: 100%;
    }
}

/* End of Sign  Up and In */
/* start of mainhome */
.MainFirstHomeSecEver {
    text-align: center;
    margin-top: 9vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../public/images/Game\ Over.html);
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:var(--background);
    filter: brightness(0.7);

}
.MainFirstHomeSec {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.MainFirstHomeSec h3 {
    font-size: 42px;
    color: var(--white);

}
.MainFirstHomeSec h3 span {
    color: var(--blue);

}
.MainFirstHomeSec h4 {
    font-size: 18px;
    font-weight: lighter;
    color: var(--white);
    opacity: 0.6;

}
.MainFirstHomeSec button {
    outline: none;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 7px;
    border-radius: 10px;

}
.MainHomesecSection {
    padding: 100px 6vw  ;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: start;
    
    gap: 10px;

}

.PersonlRecMainDiv h4 {
    color: var(--white);
    font-size: 26px;
}
.MainDivINtoMap {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row !important;
    color: var(--white);
    flex-wrap: wrap;

    padding: 0 0 !important;
    /* gap: 5px; */
}
.MainDivMapImgAndTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 15px !important; */
    border: 1px solid #32383e;
    width: calc((97% / 3) );
    min-width: 300px;
    background-color: #32383e;
    border-radius: 35px;
    margin: 0 auto 30px  !important;

}
.MainDivMapImgAndTitle:hover {
    border-radius: 35px;

}
.MainDivMapImgAndTitle div{
    width: 100%;
    border-radius: 35px 35px 0 0 !important;


}

.MainDivMapImgAndTitle img{
    border-radius: 35px 35px 0 0 !important;
    transition: 0.5s;
}
.ImgMainDivForZoom {
    width: 100%;
    overflow: hidden;

}
.ImgMainDivForZoom img:hover {
    border-radius: 35px 35px 0 0 !important;

    scale: 1.2;
}
@media screen and (min-width: 1px) and (max-width: 709px) {
    .MainHomesecSection {
        align-items: center;
    
    }
}
/* End of Home Main Section */

.MainDetailsSecEver {
    margin-top: 9vh;
    height: fit-content;
    min-height: 100vh;
    padding: 0px 3vw;
    background-color: var(--background);
}
.MainDetailsSecEverOnMap {
    padding-top: 6vh;
    justify-content: start;
    align-items: flex-start;

}
.MainDetailsSecEverOnMap img {
    border-radius: 30px;
}
.MainDetailsSecEverOnMap  span {
    color: var(--white);
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #32383e;


}
.DetailsLeeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.DetailsLeftBut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px !important;

}
.DetailsLeftButRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: var(--blue);
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
}
.DetailsLeftButRight h4 {
    font-size: 22px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.DetailsLeftButRight:hover {
    color: white !important;
}
.DetailssRight  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 15px;
}
.DetailssRight h3 {
    color: var(--white);
    font-size: 2.5rem;
}
.DetailssRight h4 {
    color: var(--white);
    font-size: 1.25rem;
}
.DetailssRight h5 {
    color: var(--white);
    font-size: 1rem;
    line-height: 2rem;
}